/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

/* Asterisk wilcard to override default styles which are added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(59, 7, 7);
    font-family: 'Barlow', sans-serif;
}

/* Header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 4px rgb(59, 7, 7);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Playpen Sans', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(59, 7, 7);
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 1px;

}

#menu > li {
    margin-top: 1em;
}

.active {
    background-color: #0423aa;
        color: white;
}

ul {
    list-style-type: none;
    
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: rgb(13, 54, 59);
}

/* Navbar style with dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* Nav toggle */ 
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 3rem;
}

/* Main Content*/
main {
    background-color: beige;
    /* Main content to take up page space */
    flex: 1 0 auto;
}

/* Footer*/
footer {
    background-color: blueviolet
    ;
}