/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

/* Asterisk wilcard to override default styles which are added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #D5BAB1;
    font-family: 'Barlow', sans-serif;
}

h1,h2,h3 {
    font-family: 'Playpen Sans', cursive;
    text-transform: none;
    letter-spacing: 2px;
    color: #BAB4B6;
}


/* Header*/
header {
    background-color: #376D4D;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 4px #D5BAB1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

    #menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
    }

    #menu > li {
    margin-top: 1em;
    }

.active {
    background-color: #574436;
        color: white;
}

ul {
    list-style-type: none;
    
}

#menu a {
    display: block;
    color: #D5BAB1;
    padding: 15px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
#menu a:hover {
    background-color: #094521;
    color: #D5BAB1;
}

/* Navbar style with dropdown toggle*/
nav {
    position: absolute;
    background-color: #376D4D;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* Nav toggle */ 
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content*/
main {
/* Main content to take up page space */
    flex: 1 0 auto;
    margin-top: 48px;
}
/* Hero section */
#hero {
    height: 600px;
    background: url(../images/pexels-johann-1254140.jpg) no-repeat center center/cover;
    width: 100%;
    position: relative;
}
#hero-text { 
   background-color: rgba(86, 109, 99, .7);
   font-size: 130%;
   position: absolute;
   bottom: 30px;
   width: 80%;
   min-height: 200px;
   padding: 10px 10px;
   margin-left: 50px;
   border-radius: 30px;
}



#hero-text>h2,
#hero-text>h3 {
    color: #D5BAB1;
    font-family: 'Barlow',sans-serif;
}

/* Footer*/
footer{
    background-color: #376D4D;
}

#follow-span{
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    font-size: 110%;
    text-transform: uppercase;
    font-weight: bold;
}
    
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: #BAB4B6;
    letter-spacing: 20px;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

/* Header */
nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
   
}

#menu {
    display: flex;
}

#menu > li {
    padding-left: 1rem;
}

.nav-toggle-label {
    display: none;
}

#logo {
    font-size: 290%;
    line-height: 75px;
    margin: 0 1rem;
}

/* Main content */
main {
/* Push main content down to accommodate larger header */
    margin-top: 75px;
}
#hero-text {
    width: 300px;
    height: 198px;
    right: 50px;
    top: 100px;
}
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
   /* Header*/
   #logo {
    line-height: 100px;
    font-size: 320%;
   }

   /* Main Content*/
   main {
    margin-top: 100px;
   }
   #hero-text {
       width: 400px;
       right: 300px;
       text-align: center;
       font-size: 150%;
   }
}